@import "../css/fonts.css";



/*
.days{
    font-size: 130px;
    margin-top: 200px;
    margin-left: -500px;
}
.hours{
    font-size: 35px;
    margin-top: -190px;
    margin-left: -275px;
}

.minutes{
    font-size: 35px;
    margin-top: 40px;
    margin-left: -245px;
}

.seconds{
    font-size: 35px;
    margin-top: 60px;
    margin-left: -280px;
}
*/